<Configuration>
  <Appenders>
    <Console name="CONSOLE" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{ISO8601} [%p] %l - %m %n"/>
    </Console>
  
    <RollingFile 
        name="FILE" 
        fileName="${application.path.log}/app.log" 
        filePattern="${application.path.log}/app.log.%d{yyyy-MM-dd}"
        append="true"
        bufferedIO="true"
        immediateFlush="false"
    >
      <PatternLayout pattern="%d{ISO8601} [%p] %l - %m %n"/>
      <Policies>
        <TimeBasedTriggeringPolicy interval="1"/>
      </Policies> 
    </RollingFile>
  </Appenders>
  
  <Loggers>
    <Root level="trace" includeLocation="true">
      <AppenderRef ref="CONSOLE"/>
      <AppenderRef ref="FILE"/>
    </Root>
  </Loggers>
  
</Configuration>