<?xml version="1.0" encoding="UTF-8"?>
<!-- https://examples.javacodegeeks.com/enterprise-java/rest/resteasy/resteasy-hello-world-example/ -->
<!-- https://docs.jboss.org/resteasy/docs/3.0.24.Final/userguide/html/Installation_Configuration.html#d4e155 -->
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <context-param>
        <param-name>isLog4jAutoInitializationDisabled</param-name>
        <param-value>true</param-value>
    </context-param>

    <context-param>
        <param-name>isLog4jContextSelectorNamed</param-name>
        <param-value>false</param-value>
    </context-param>

    <listener>
        <listener-class>com.ap.archetypes.jboss_web_api.web.listeners.SetupListener</listener-class>
    </listener>
</web-app>
